extends html

block main
  .main-contents
    include includes/breadcrumbs
    //- Quick and dirty. Should be parsed properly in markdown parse module at some point
    - var considerotherside = contents.split('<h2 id="consider">Consider</h2>')[0]
    - var consider = contents.split('<h2 id="consider">Consider</h2>')[1] && contents.split('<h2 id="consider">Consider</h2>')[1].split('<div id="startpara" class="pure-g">')[0]
    - var considerstart = contents.split('<h2 id="consider">Consider</h2>')[1] && ('<div id="startpara" class="pure-g">' + contents.split('<h2 id="consider">Consider</h2>')[1].split('<div id="startpara" class="pure-g">')[1])
    - var otherside = contents.split('<div id="startpara" class="pure-g">')[0]
    - var start = contents.split('<div id="startpara" class="pure-g">')[1] && ('<div id="startpara" class="pure-g">' + contents.split('<div id="startpara" class="pure-g">')[1])
    .topic.post.pure-g
      .pure-u-1-1.cols
        .logo.pure-u-1.pure-u-md-1-3
          .side
            img(src=site.baseurl+'/images/topics/'+paths.name+'.svg', width='180px')
            h1= title
        if consider
          article.post-content.pure-u-1.pure-u-md-2-3
            .content
              != considerotherside
          br
          .pure-u-1-1
            .consider
              != consider
          .pure-u-1-1
            .start
              != considerstart
        else
          article.post-content.pure-u-1.pure-u-md-2-3
            .content
              != otherside
          br
          .pure-u-1-1
            .start
              != start


  include includes/links
