.full-width.custom-wrapper.foot
  .pure-g
    .pure-u-1-3
      .pure-menu
        .pure-menu-heading.custom-brand 
          a(rel='license', href='http://creativecommons.org/licenses/by/4.0/')
            img(alt='Creative Commons License', style='border-width:0', src='https://i.creativecommons.org/l/by/4.0/88x31.png')

    .pure-u-2-3
      .pure-menu.pure-menu-horizontal.custom-menu-3
        ul.pure-menu-list
          li.pure-menu-item
            a.pure-menu-link(href='https://gitlab.com/rarenet/dfak') Gitlab Repo
          li.pure-menu-item
            a.pure-menu-link(href=site.baseurl + '/' + language + '/about/') About
