head
  - // Basic Page Needs
  - // ==================================================
  meta(charset="utf8")
  if title == "Home"
    title #{site.title} &middot; #{site.tagline}
  else
    title #{title} &middot; #{site.title}

  meta(name="description", content=site.description)
  meta(name="author", content=site.author)

  - // Mobile Specific Metas
  - // ==================================================
  meta(name="viewport", content="width=device-width, initial-scale=1")

  - // CSS
  - // ==================================================
  link(rel="stylesheet", href=site.baseurl+"/css/pure-min.css")
  link(rel='stylesheet', href=site.baseurl+"/css/select2.css")

  //if lte IE 8
    link(rel='stylesheet', href=site.baseurl+"/css/grids-responsive-old-ie-min.css")
  // [if gt IE 8] <!
  link(rel='stylesheet', href=site.baseurl+"/css/grids-responsive-min.css")
  link(rel='stylesheet', href=site.baseurl+"/css/pure-offsets.css")
  // <![endif]
  link(rel='stylesheet', href=site.baseurl+"/css/font-awesome.css")
  //if lte IE 8
    link(rel='stylesheet', href=site.baseurl+"/css/main-old-ie.css")
  // [if gt IE 8] <!
  link(rel='stylesheet', href=site.baseurl+"/css/main.css")
  // <![endif]


  - // JS
  script(src=site.baseurl+"/js/anchor.min.js")
  script(src=site.baseurl+"/js/jquery-3.3.1.min.js")
  script(src=site.baseurl+"/js/select2.min.js")

  - // Favicons
  - // ==================================================
  link(rel="shortcut icon", href=site.baseurl+"/images/favicon.ico")
  link(rel="apple-touch-icon", href=site.baseurl+"/images/apple-touch-icon.png")
  link(rel="apple-touch-icon", sizes="72x72", href=site.baseurl+"/images/apple-touch-icon-72x72.png")
  link(rel="apple-touch-icon", sizes="114x114", href=site.baseurl+"/images/apple-touch-icon-114x114.png")

  - // RSS
  - // ==================================================
  link(rel="alternate", type="application/rss+xml", title="RSS", href=site.baseurl+"/feed.xml")
